## List Comprehension

In [73]:
# list containing the five number 

list_1 = []
 
for i in range(1,6):
    list_1.append(i)

In [74]:
print(list_1)

[1, 2, 3, 4, 5]

In [3]:
# Let's try the above code using list comprehension 

lst = [i for i in range(1,6)]

In [4]:
lst

[1, 2, 3, 4, 5]

In [5]:
# list2 containing the squre of five number 

list2 = []
 
for i in range(1,6):
    list2.append(i**2)

In [6]:
print(list2)

[1, 4, 9, 16, 25]

In [9]:
#list comprehension

lst2 = [i**2 for i in range(1,6)]
print(lst2)

#SYNTAX : lst = [expression for i in sqquennce]
#i.e. for every "i" in the 'sequence' apply the 'expression'
# and add that expression value to the lst

[1, 4, 9, 16, 25]

In [12]:
lst = [w for w in "PYTHON"]
print(lst)
# iterating string

['P', 'Y', 'T', 'H', 'O', 'N']

In [14]:
# same thing by for loop or vice varsa 
lst = []
for j in "PYTHON":
    lst.append(j)
print(lst)

['P', 'Y', 'T', 'H', 'O', 'N']

In [15]:
#list comprehension 
# reason : Very easy and elegant.
# reason : length of the code is going to reduce.

In [16]:
# let's now try to apply the condition to "i"
#lst = [ expression for i in sequence if condition ]
# i.e. for every 'i' in the 'sequence' if that 'i' satiesfies the condition , 
# that apply the 'expression'
# and add that expression value to the lst

In [17]:
lst = [i**2 for i in range(1,30)]
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841]

In [20]:
# making condition if devided by 2 and value must be integer not float only those number will be added 
# 1st without list comprehension 
list1 = []
for i in range(1,30):
    if i %2 == 0:
        squre =i**2
        list1.append(squre)

In [21]:
list1

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784]

In [22]:
# 2nd using list comprehension 
lst = [i**2 for i in range(1,30) if i%2 ==0]

In [23]:
lst

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784]

In [32]:
sup_hero = ["Iron Man", "Spyderman","Doctor_Strange", "Captain_America"]

#try to extract first character of each name into a list

lst = [i[0] for i in sup_hero]
print(lst)

['I', 'S', 'D', 'C']

In [34]:
s = 'the quick brown fox jumps over the lazy dog'

# Convert each word into upper case and count the number of characters in each word

lst = [[word.upper(), len(word)] for word in s.split(" ")]

In [38]:
print(lst)

[['THE', 3], ['QUICK', 5], ['BROWN', 5], ['FOX', 3], ['JUMPS', 5], ['OVER', 4], ['THE', 3], ['LAZY', 4], ['DOG', 3]]

## Anonymous Function

In [39]:
def square(n):
    return n**2

In [41]:
print(square(4))

16

In [42]:
# introducing lambda function (anonymous function)

lam_sq = lambda n: n**2

print(lam_sq(4))

16

In [43]:
# product of two numbers 
prod = lambda x , y :x*y
print(prod(5,7))

35

In [49]:
# lager of two numbers 
# condition  a>b ? a:b
# a if  a>b else b
def greater_nor(a,b):
    if a>b :
        return(a)
    else:
        return b
print(greater_nor(5,8))

8

In [47]:
# lager of two numbers 
# condition  a>b ? a:b
# a if  a>b else b
greater  = lambda a, b : a if a>b else b

In [48]:
print(greater(5,8))

8

## filter()

In [50]:
# suppose we have 10 number, and we want to filter only even number 

#so based on some condion if we want to filter a perticular group.

In [51]:
# SYNTAX: filter(function, sequence)
# function always return true or false

In [66]:
def isEven(x):
    if x%2 ==0:
        return True
    else:
        return False
    
lst =[i for i in range(0,11)]
# or lst =[0,1,2,3,4,5,6,7,8,9,10]

# f = list(filter(isEven,lst))
# print(f)
f = filter(isEven, lst)
print(list[f])

TypeError: list indices must be integers or slices, not filter

In [67]:
def isEven(x):
    if x%2==0:
        return True
    else:
        return False
    

lst = [0,1,2,3,4,5,6,7,8,9,10]

f = list(filter(isEven, lst))

print(f)

TypeError: 'list' object is not callable

In [70]:
list

[1, 2, 3, 4, 5]

In [68]:
lst = [i for i in range(0,11)]

In [69]:
f = list(filter(lambda x: x%2 ==0, lst))

TypeError: 'list' object is not callable

In [75]:
list

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [76]:
del(list)

In [78]:
def isEven(x):
    if x%2 ==0:
        return True
    else:
        return False
    
lst =[i for i in range(0,11)]
# or lst =[0,1,2,3,4,5,6,7,8,9,10]

# f = list(filter(isEven,lst))
# print(f)
f = filter(isEven, lst)
print(list(f))

[0, 2, 4, 6, 8, 10]

## map()

In [79]:
# If the requirement is to map each value of sequence to something
# let's say, we want to find the double of each element in a squence 
# syntax : map(function, sequence)

In [81]:
def double(x):
    return 2*x
lst = [i for i in range(1,6)]

d = list(map(double,lst))
print(d)

[2, 4, 6, 8, 10]

In [85]:
lst_1 =['high', 'medium', 'low']
lst_2=lst_1.map({"high":2, "medium":1, "low":0}).astype(int)
lst_2

AttributeError: 'list' object has no attribute 'map'

In [86]:
# lambda with map 
lst = [6,7,8,9,10]
d  = list(map(lambda x:2*x, lst))
print(d)

[12, 14, 16, 18, 20]

In [87]:
# multiply two list element wise

lst_1 = [1,2,3,10]
lst_2 = [4,5,6]


lst_3 = list(map(lambda x, y :x*y, lst_1,lst_2))
lst_3

[4, 10, 18]

## reduce()

In [88]:
# reduce() function reduces seauence of elements into a sigle
# element by applying the specified function 

# reduce() function present in functools module

In [89]:
from functools import *


lst = [1,2,3,4 ,5,6,7]
r = reduce(lambda x,y : x+y,lst)
print(r)

28

## Function Aliasing

In [90]:
def sq(n):
    return n*n

new_sq = sq
print(new_sq(5))

print(sq(5))

25
25

In [93]:
def fun():
    return "hello world!!"

#what is difference between following lines?

#f1 = fun
f1= fun()
print(f1)
print(fun())

hello world!!
hello world!!

In [ ]:
#