## Session 24

Today's Agenda

- Support vector machines
- Classification evaluation metrics

**Support Vector Machine**

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Social_Network_Ads.csv')

In [3]:
df.head(10)

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
5  15728773    Male   27            58000          0
6  15598044  Female   27            84000          0
7  15694829  Female   32           150000          1
8  15600575    Male   25            33000          0
9  15727311  Female   35            65000          0

In [4]:
df.shape

(400, 5)

In [5]:
df.duplicated().sum()

0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [7]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [8]:
X = df[['Age','EstimatedSalary']].values
Y = df['Purchased']

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,Y,test_size = 0.3,random_state = 5)

In [11]:
# standerdize
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [12]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(x_train, y_train)

LogisticRegression()

In [13]:
from sklearn.naive_bayes import GaussianNB
classifier2 = GaussianNB()

In [14]:
classifier2.fit(x_train,y_train)

GaussianNB()

In [16]:
from sklearn.svm import SVC
classifier3 = SVC()
classifier3.fit(x_train,y_train)

SVC()

In [20]:
y_pred1 = classifier.predict(x_test)
y_pred2 =classifier2.predict(x_test)
y_pred3 =classifier3.predict(x_test)

In [21]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred1)
cm

array([[71,  7],
       [10, 32]], dtype=int64)

In [22]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred1)

0.8583333333333333

In [23]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred2)

0.9

In [24]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred3)

0.9333333333333333

In [25]:
# next metrix 
from sklearn.metrics import precision_score
precision_score(y_test,y_pred1)

0.8205128205128205

In [26]:
from sklearn.metrics import recall_score
recall_score(y_test,y_pred1)

0.7619047619047619

In [27]:
from sklearn.metrics import f1_score
f1_score(y_test,y_pred1)

0.7901234567901233

In [28]:
from sklearn.metrics import jaccard_score
jaccard_score(y_test,y_pred1)

0.6530612244897959