Learning how to save submission

In [1]:
import pandas as pd 
import numpy as np

In [2]:
#creating a DataFrame
data = {'A' : np.arange(11,21),
        'B' : np.arange(21,31),
        'C' : np.arange(31,41)}
df = pd.DataFrame(data)

In [3]:
df

    A   B   C
0  11  21  31
1  12  22  32
2  13  23  33
3  14  24  34
4  15  25  35
5  16  26  36
6  17  27  37
7  18  28  38
8  19  29  39
9  20  30  40

In [5]:
#saving that data in csv format 
df.to_csv('Learning_df.csv',index = False)

In [6]:
df.describe()

              A         B         C
count  10.00000  10.00000  10.00000
mean   15.50000  25.50000  35.50000
std     3.02765   3.02765   3.02765
min    11.00000  21.00000  31.00000
25%    13.25000  23.25000  33.25000
50%    15.50000  25.50000  35.50000
75%    17.75000  27.75000  37.75000
max    20.00000  30.00000  40.00000

In [ ]:
np.random_randin()